#RstPass {
    background-color: lightcyan;
    border: 1px solid black;
    width: 40%;
    margin: 20px auto;
    padding: 20px 10px;
    content: "";
    display: table;
    clear: both;
    box-shadow: 3px 3px 5px black;
}

#linkDiv {
    width: 80%;
    margin: 10px auto;
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

#btnResetLink {
    width: 100%;
    background-color: aquamarine;
}

#rstForm{
    margin: 10px;
    padding: 10px;
}

#resetEmailtxt{
    width: 100%;
}